.card {
    width: 95%;
    background-color: #F9D7D6;
    margin: 5px auto;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "image date"
    "description description"
    ;
}
.image-container {
    grid-area: image;
    padding: 10px;
    width: 100%;
}
.image-container img {
    height: 100px;
}
.date-container {
    grid-area: date;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.description-container {
    grid-area: description;
    background-color: var(--button-color);
    color: white;
    padding: 10px;
    border-radius: 10px;
}