.card {
    width: 95%;
    background-color: #F9D7D6;
    margin: auto;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "image date"
    "image description"
    "image description"
    ;
}
.image-container {
    grid-area: image;
    padding: 10px;
    width: 100%;
}
.image-container img {
    max-height: 150px;
}