* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.container {
  animation: fadeUp 0.4s ease-out forwards;
}

body {
  background: url("./assets/bg.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container {
  width: 90vw;
  height: 60vh;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(5, 5, 20, 0.2);
}

